:root {
	--timer_fs: 3rem;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: var(--timer_fs);
}

.time {
    color: #FF8C00;
    background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footer * {
    margin: 0 0.25rem;
}

@media screen and (max-width: 636px) {
    :root {
        --timer_fs: 2.3rem;
    }
}
@media screen and (max-width: 420px) {
    :root {
        --timer_fs: 1.7rem;
    }
}
@media screen and (max-width: 400px) {
    :root {
        --timer_fs: 1.5rem;
    }
}
@media screen and (max-width: 320px) {
    :root {
        --timer_fs: 1.4rem;
    }
}



