---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>0401.day</title>
	</head>
	<body>
	<div class="time-container">
      <p class="time"><span id="day"></span>:<span id="hour"></span>:<span id="min"></span>:<span id="sec"></span></p>
    </div>
	<script>

	</script>
	</body>
</html>
